* { 
box-sizing: border-box;
}

@font-face {
    font-family: 'nimbus sans';
    src: url('fonts/nimbussanl-reg-webfont.woff2') format('woff2'),
          url('fonts/nimbussanl-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  a:active {
    transform: translate(2px);
  }

  a:hover {
    background-color: white;
    font-family: serif;
    padding: 5px;
    margin-bottom: 5px;

    border: 2px solid;
    border-radius: 2px;
    border-bottom: 10px solid;
    border-right: 10px solid;
    box-shadow: 4px 4px 0 darkgrey;
  }

  .based-in {
    font-size: 1.3rem;
  }

  body {
    /* background-color: #dde9e5; */
    background-color: #e6fdf6;
    font-family: 'nimbus sans', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 20px;
  }

  .column {
    width: fit-content;
    height: fit-content;

    padding: 5px;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 5px;
  }

  .dark {
    background-color: #323232;
  }

  .dark a:hover {
    color: black;
  }

  .dark-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
  }

  .dark-button button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(226, 225, 225);

    border-radius: 10px;
    border: 1.25px solid;
    outline: 1.2px solid white;

    box-shadow:2px 2px 5px rgb(50, 50, 50);
  }

  .dark-button img {
    max-width: 50px;
    max-height: 50px;
  }

  .dark-button button:active {
    transform:translate(1px);
  }

  .dark-button button:hover {
    background-color: black;
    cursor: pointer;
    border: 2px solid;
  }

  .dark figure {
    outline: 3px solid white;
  }

  .dark-mode-icon {
    border: none;
  }

  figcaption {
    overflow: visible
  }

  figure {
    overflow: visible
  }

  /* figure:hover {
    cursor:crosshair;
  } */


  h1 {
    font-size: 2.2rem;
  }


  h1, h2, h3 {
    overflow-wrap: break-word;
    margin: 0;

  }

  h1, h3 {
    background-color: rgb(22, 22, 22);
    color: white;
  }


  h2 {
    border: 2px solid;
    background-color: white;
    padding: 10px;
  }


  .h1 {
    padding: 10px;
    background-color: white;
    color: black;
    text-align: right;
    width: fit-content;

    font-size: 1.7rem;
    font-weight:300;

    border-radius: 3px;

  }


  .h1-other {
    margin-bottom: 25px;
  }


  header {
    width: 100%;
    height:fit-content;
    background-color:rgb(22, 22, 22);
    padding: 15px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    border-bottom: 2px solid white;
    outline: 2px solid;
  }


  .home {
    width: fit-content;


    padding: 10px;
    margin: 5px;

    border: 2px solid white;
    border-radius: 3px;
    outline: 1px solid white;
    outline-offset: 2px;

    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

  }


  .home:active {
    transform: translate(2px);
  }


  .home:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }


  img {
    max-width: 40%;
    max-height: 40%;

    min-width: 300px;
    min-height: 200px;
    margin: 10px;

    transition: .15s ease;

    overflow: visible;
  }

  img:hover {
    cursor: crosshair;
  }


  .img-vertical {
    width: 100%;
  }


  .img-vertical img{
    max-width: 20%;
    max-width: 20%;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  
  .img-vertical img:hover {
    max-width: 30%;
    max-height: 40%;
  }


   li {
    list-style: none;
   }


   li:active {
    transform:translate(2px);
   }


  main {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 15px;
  }


  .medium {
    margin: 0;
    margin-top: 10px;
  }


  #myBtn {
    display: none; 

    position: fixed; 
    bottom: 20px;
    right: 20px;

    z-index: 99; 

    border: 2px solid white;
    outline: 1px solid black;
    
    background-color: black;
    color: white; 

    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 

    font-size: 18px; 
   }
  

   #myBtn:hover {
    background-color:white;
    color: black;
    /* text-shadow: 2px 2px #000000; */
    font-family: serif;
    font-size: 1.3rem;
    box-shadow: 4px 4px 3px rgb(105, 104, 104);
    transform: translate(2deg);
    font-weight:bold;
  }


  p {
    max-width: 850px;
    padding: 10px;
    margin: 0;

    line-height: 1.4;
  }


  .p-other {
    padding: 20px;
  }


  .photo-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    margin: 20px;
  }


  .project {

    padding: 20px; 
    width: fit-content;

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    align-content: center;
    
  }


  .project-name-description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 30px;
  }
  

  .project-name-description h1 {
    color: black;
    background-color: transparent;
    text-align: center;
  }


  .project-name-description p {
    position: relative;
    bottom: 15px;
    margin-bottom: 0;
  }


  .project-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 

    margin: 0;

    position: relative;
    bottom: 25px;
  }


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

  margin: 0;
}


.social-media {
  display: flex;
  justify-content: space-between;
}


.show-hide-img-description-btn {
  border: 2px solid black;
  /* outline: 1px solid;
  outline-offset: 1px; */
  box-shadow: 3px 3px 2px rgb(152, 152, 152);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}


video { 
  
  background-color: rgb(0, 0, 0);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  border: 1.5px solid;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 1px;
  left: 3px;

  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  border: 1.5px solid;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  
  background-color: white;
  width: fit-content;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;

  position: fixed;
  bottom: 15px;
  left: 15px;

  font-size: 1.1rem;

}


  @media (max-width: 465px) {
    .column {
      align-items:flex-start;
    }

    .h1-other-projects {
      margin-top: 10px;
    }

  }
  @media (max-width: 200px) {


    .h1-other-projects {
      margin-top: 10px;
    }

  }

  @media (max-width: 400px) {
    .img-mobile img{
  max-width: 98vw;
  max-height: 48%;
}
}

@media (max-width: 500px) {

  .dark-button {
    display: none;
  }
  
}



   