* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'nimbus sans';
    src: url('fonts/nimbussanl-reg-webfont. woff2') format('woff2'),
         url('fonts/nimbussanl-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  a:visited {
    color: blue;
  }

#backToTop {
    display: none; 
    position: fixed; 
    bottom: 15px; 
    right: 15px; 

    z-index: 1;

    border: 2px solid white;
    border-radius: 10px; 
    outline: 1.2px solid black;
    outline-offset: 1px;    
    padding: 15px; 
    
    background-color: black;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 18px; 

    cursor: pointer; 
   }
  
#backToTop:hover {
    background-color:white;
    color: black;
    font-family: serif;
    font-size: 1.3rem;
    box-shadow: 4px 4px 3px rgb(105, 104, 104);
    transform: translate(2deg);
    font-weight:bold;
    text-shadow: none;
  }

  #backToTop.show {
    display: none !important;
  }

body {
    background-color: #e6fdf6;
    font-family: 'nimbus sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  button {
    cursor: pointer;
    padding: 7px;
    background-color: lightgrey;
    border-radius: 3px;
    border: 1.3px solid;
    font-size: 1.2rem;
  }

  button:active {
    transform: translateY(2px);
  }
  
button:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-style: italic;
    outline: 1px solid black;
    outline-offset: 1px;
  }

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 20px;
    margin-top: 30px;
  }

.button-container button.active {
    background-color: black;
    color: white;
    outline: 1px solid black;
    outline-offset: 1px;
}

.center-link a {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
}

.column2 {
  width: 48%;
}


.column3 {
    width: 32%;
}

.column4 {
  width: 24%;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    background-color: white;
    border: 1.3px solid;
    font-size: 60px;
    border-radius: 2px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 17px 10px 17px;

}

.close:hover, .close:focus {
    cursor: pointer;
    background-color: black;
    color: white;
}

.daisies-left, .daisies-right{
    max-height: 287px;
    width: auto;
  }

  .daisies-left {
    border: 2px solid; 
    border-right: none;
  }

  .daisies-right {
    border: 2px solid; 
    border-left: none;
  }

  .dark {
    background-color: #181818;
  }

  .dark .daisies-right {
    border: 1.3px solid white;
    border-left: none;
  }

  .dark .daisies-left {
    border: 1.3px solid white; 
    border-right: none;
  }

  .dark .intro {
    border-top: 1.3px solid white;
    border-bottom: 1.3px solid white;
  }

  .dark figure {
    background-color: black;
    border: 1.3px solid white;
    color: white;
  }

  .dark figure a {
    color: rgb(151, 188, 252);
  }

  details {
    padding-bottom: 5px;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active, .dot:hover {
    background-color: black;
  }

figcaption {
    padding: 10px;
    font-size: 1.1rem;
}


figure {
    background-color: white;
    border: 1.3px solid black;
}

figure.column3 {
  padding: 0;
}

figure:hover {
    background-color: black;

    border: 1.3px solid white;
  }

  figure:hover a {
    color: rgb(151, 188, 252);
  }

  figure a:hover {
    background-color: white;
    color: black;

    font-family: serif;
    padding: 10px;
    font-weight: 600;
    font-style: italic;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;
  }

  figure:hover figcaption {
    background-color: black;
    color: white;
  }

  figure:hover img {
    border: 1.3px solid white;
  }

  h1, h2, h3, h4 {
    background-color: rgb(22, 22, 22);
    color: white;

    padding: 10px;
    padding-left: 20px;
    margin: 5px;

    border-radius: 2px;
    outline: 1.3px solid black;
    outline-offset: 1.5px;

    overflow-wrap: break-word;

    line-height: 1.2;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    /* background-color: white;
    color: black; */
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .home {
    position: fixed;
    top: 15px;
    left: 15px;
  }

  .image-descriptions {
    width: fit-content;
    padding: 20px;
  }

  .image-descriptions:hover {
    background-color: white;
    color: black;

    font-family: serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;
  }

  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .intro {
    padding: 2px;
    
    max-width: 655px;
    
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .intro a {
    color: white;
    position: relative;
    bottom: 2;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .intro a:hover {
    background-color: white;
    color: black;

    font-family: serif;
    font-style: italic;
    padding: 10px;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;

    cursor: pointer;
  }

  .intro a:visited{
    color: white;
  }

  .intro-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

  .intro details {
    position: relative;
    left: 3px;
    width: fit-content;
  }

  .intro h3 {
    padding-bottom: 13px;
  }

  .intro summary {
    padding-right: 25px;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .image-gallery {
    margin-bottom: 75px;
  }

.image-gallery img {
    border: 1.3px solid black;
    cursor: zoom-in;
}

.logo-mobile {
  display: none;
}

.medium {
    font-size: 1rem;
    font-style: italic;
  }

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: auto;

    width: 100%;
    height: auto;
    max-height: 100vh;

    /* background-color: #e6fdf6; */
    background-image: url(pics/photos/daisies.jpg);
    background-size: cover;
    background-position:center;
    border: 1.3px solid;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  /* padding: 20px; */
  width: auto;
  max-height: 100vh;
  max-width: 1000px;
  position: relative;

    border-left: 2px solid black;
    border-right: 2px solid black;


    object-fit: contain;
}

.modal-content.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySlides {
  display: none;
}

.pinterest-positioning {
  font-size: smaller; 
  position: relative; 
  bottom: 11px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  background-color: white;
  border: 1.3px solid;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: black;
  color: white;
}

.project-description {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 40px;
  background-color: white;
  border: 1.3px solid black;
  padding: 20px;
  padding-bottom: 5px;
  font-size: 1.1rem;
}

.project-description a {
  text-align: center;
  display: inline-block;
}

.project-description:hover {
  color: white;
  background-color: black;
}

.project-description:hover a{
  color: rgb(151, 188, 252);
}

.project-description a:hover {
  background-color: white;
  color: black;

  font-family: serif;
  font-weight: bold;
  font-style: italic;
  padding: 10px;

  border: 2px solid;
  border-radius: 2px;
  box-shadow: 4px 4px 0 darkgrey;

  cursor: pointer;
}

.project-description p {
padding: 0;
}

.next {
  right: 0;
}

p a:hover {
  background-color: white;
  color: black;

  font-family: serif;
  font-weight: bold;
  font-style: italic;
  padding: 10px;

  border: 2px solid;
  border-radius: 2px;
  box-shadow: 4px 4px 0 darkgrey;

  cursor: pointer;
}

.row {
    margin: 8px -16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .row,
  .row > .column2 {
    padding: 8px;
    margin: 5px;
  }

  .row,
  .row > .column3 {
    padding: 8px;
    margin: 5px;
  }

  .row,
  .row > .column4 {
    padding: 8px;
    margin: 5px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1.5px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    top: 1px;

    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    border: 1.5px solid;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .slideshow-container img {
    margin-top: 15px;
    border: 1.5px solid;
  }

  .social-container {
    background-color: black;
    outline: 1.3px solid black;
    outline-offset: 1.5px;
    margin: 5px;
    border-radius: 3px;

    display: flex;
    align-items: center;
  }

  .social-container a:hover {
    background-color: white;
    color: black;

    font-family: serif;
    padding: 10px;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;

    cursor: pointer;
  }

  .social-container h4 {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 0 0 20px;
  }

  summary {
    text-decoration: underline;
  }

  summary:hover {
    cursor: pointer;

    background-color: white;
    color: black;

    font-family: serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    margin-bottom: 5px;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    width: fit-content;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;

    font-size: 1.1rem;

    position: absolute;
    top: 15px;
    right: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }



@media (max-width: 900px) {
    .column3 {
        width: 47%;
      }

      .column2 {
        width: 95%;
      }

      .column4 {
        width: 48%;
      }

}

@media (max-width: 850px) {
  .modal {
    display: none !important;
  }

  .image-gallery img:hover {
    cursor: auto;
  }
}


@media (max-width: 750px) {
    .daisies-right, .daisies-left {
        display: none;
    }

    .image-gallery img:hover {
      cursor: auto;
    }

    .modal {
      display: none !important;
    }

    .column4 {
      width: 98%;
    }
}

@media (max-width: 700px) {
    .modal-content{
        width: 100%;
        border: none;
    }

}

@media (max-width: 600px) {
    .column3 {
        width: 100%;
      }

      a:active {
        transform:scale(1.3);
      }

      .column2, .column3 {
        width: 100%;
      }

      .logo {
        display: none;
      }
  
    .logo-mobile {
        display: inline-block;
      }
  
      .intro {
        margin: 0 10px 10px 10px;
      }
  
    .social-container {
        gap: 0;
      }
  
    .social-mobile {
        display: none;
      }
}





