* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'nimbus sans';
    src: url('fonts/nimbussanl-reg-webfont. woff2') format('woff2'),
         url('fonts/nimbussanl-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  #backToTop {
    display: none; 
    position: fixed; 
    bottom: 15px; 
    right: 15px; 

    z-index: 99; 

    border: 2px solid white;
    border-radius: 10px; 
    outline: 1.2px solid black;
    outline-offset: 1px;    
    padding: 15px; 
    
    background-color: black;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 18px; 

    cursor: pointer; 
   }
  
  #backToTop:hover {
    background-color:white;
    color: black;
    font-family: serif;
    font-size: 1.3rem;
    box-shadow: 4px 4px 3px rgb(105, 104, 104);
    transform: translate(2deg);
    font-weight:bold;
    text-shadow: none;
  }

  body {
    background-color: #e6fdf6;
    font-family: 'nimbus sans', sans-serif;
    font-size: 1.5rem;
  }

  button {
    cursor: pointer;
    padding: 7px;
    background-color: lightgrey;
    border-radius: 3px;
    border: 1.3px solid;
  }
  
  button:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-style: italic;
    outline: 1px solid black;
    outline-offset: 1px;
  }

  button:active {
    transform: translateY(2px);
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 20px;
  }

  .button-container button.active {
    background-color: black;
    color: white;
    outline: 1px solid black;
    outline-offset: 1px;
}

  .column {
    width: 32%;
  }

  .column2 {
    width: 48%;
  }

  .contact-me-project {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  /* .container {
    position: relative;
  }
  
  .container:hover .overlay {
    opacity: 100;
    cursor: pointer;
  } */

  .content-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .content-container img {
    border: 1.3px solid black;
  }

  .daisies-left, .daisies-right{
    max-height: 368px;
    width: auto;
  }

  .daisies-left {
    border: 2px solid; 
    border-right: none;
  }

  .daisies-right {
    border: 2px solid; 
    border-left: none;
  }

  .dark {
    background-color: #181818;
  }

  .dark .daisies-right {
    border: 1.3px solid white;
    border-left: none;
  }

  .dark .daisies-left {
    border: 1.3px solid white; 
    border-right: none;
  }

  .dark .intro {
    border-top: 1.3px solid white;
    border-bottom: 1.3px solid white;
  }

  details {
    padding-bottom: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    left: -25px;
    
    width: 300px;
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    font-size: 1.3rem;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  figure {
    background-color: white;
    border: 1.3px solid black;
  }

  figure:hover {
    background-color: black;

    border: 1.3px solid white;
  }

  figure:hover a {
    color: rgb(151, 188, 252);
  }

  figure a:hover {
    background-color: white;
    color: black;

    font-family: serif;
    padding: 7px;
    font-weight: 600;
    font-style: italic;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;
  }

  figure:hover figcaption {
    background-color: black;
    color: white;
  }

  figure:hover img {
    border: 1.3px solid white;
  }

  figure.scroll-container {
    overflow: auto;
    white-space: nowrap;

  }

  figcaption {
    font-size: 1.2rem;
    background-color: white;
    margin-left: 3px;
  }

  figcaption:hover {
    background-color: black;
    color: white;
  }

  h1, h2, h3, h4 {
    background-color: rgb(22, 22, 22);
    color: white;

    padding: 10px;
    padding-left: 20px;
    margin: 5px;

    border-radius: 2px;
    outline: 1.3px solid black;
    outline-offset: 1.5px;

    overflow-wrap: break-word;

    line-height: 1.2;
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 15px;

    z-index: 2;
    position: relative;
  }

  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .intro {
    padding: 2px;
    max-width: 655px;
    
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
  }

  .intro a {
    color: white;
    position: relative;
    bottom: 2;
  }

  .intro a:hover {
    background-color: white;
    color: black;

    font-family: serif;
    padding: 10px;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;

    cursor: pointer;
  }

  .intro a:visited{
    color: white;
  }

  .logo-mobile {
    display: none;
  }

  .medium {
    font-size: 1rem;
    font-style: italic;
  }

  .menu-bar {
    width: 35px;
    height: 5px;
    border: 2.5px solid;
    margin: 6px 0;
  }

  .menu-button {
    background-color: black;
    color: white;
    padding: 15px;

    border-radius: 3px;
    border: 1px solid white;
    outline: 1px solid black;
    outline-offset: 1px;
    z-index: 10;
    display: flex;
  }

  .menu-button:hover {
    background-color: white;
    color: black;

    font-family: serif;
    padding: 10px;

    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;

    cursor: pointer;
  }

  .name {
    padding-right: 21px;
  }

  nav li {
    padding: 5px;
    background-color: black;

    margin-left: 25px;
    border: .5px solid white;
    border-top: none;

    list-style: none;
  }

  nav li a {
    color: white;
  }

  nav li a:hover {
    background-color: white;
    color: black;

    font-family: serif;
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;

    cursor: pointer;
  }

  nav ul {
    margin-bottom: 10px;
  }

  .next-project {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .prev-project {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

  .row {
    margin: 8px -16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row,
  .row > .column {
    padding: 8px;
    margin: 5px;
  }

  .row,
  .row > .column2 {
    padding: 8px;
    margin: 5px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .show {
    display:block;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1.5px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    top: 1px;

    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    border: 1.5px solid;
  }

  .social-container {
    background-color: black;
    outline: 1.3px solid black;
    outline-offset: 1.5px;
    margin: 5px;

    display: flex;
    gap: 40px;

    align-items: center;
  }

  .social-container h4 {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 0 0 20px;
  }

  summary {
    text-decoration: underline;
  }

  summary:hover {
    cursor: pointer;

    background-color: white;
    color: black;

    font-family: serif;
    padding: 10px;
    margin-bottom: 5px;

    border: 2px solid;
    border-radius: 2px;
    box-shadow: 4px 4px 0 darkgrey;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    width: fit-content;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;

    font-size: 1.1rem;

    position: absolute;
    top: 15px;
    right: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


/* ________________________________________________________________ */

@media screen and (max-width: 900px) {
  .column {
    width: 47%;
  }

  .column2 {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .daisies-right, .daisies-left {
      display: none;
  }
}

@media screen and (max-width: 600px) {
  a:active {
      transform:scale(1.3);
    }

  .column {
    width: 100%;
  }

  .email-mobile{
    position: absolute;
    top:0;
    right:0;
  }

  .social-container-mobile {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
  }

}
  

@media (max-width: 500px) {

  .logo {
      display: none;
    }

  .logo-mobile {
      display: inline-block;
    }

    .intro {
      margin: 0 10px 10px 10px;
    }

  .social-container {
      gap: 10px;
    }

  .social-mobile {
      display: none;
    }
}





